# Configuration for a Talos 2 running Qubes and other OSes
CONFIG_TARGET=ppc64be

export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=talos_2_support_payload
export CONFIG_LINUX_VERSION=5.5-openpower

CONFIG_COREBOOT_CONFIG=config/coreboot-openpower.config
CONFIG_LINUX_CONFIG=config/linux-openpower.config

CONFIG_CRYPTSETUP=y
CONFIG_LVM2=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_MBEDTLS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_GPG2=y
CONFIG_PCIUTILS=y

#Whiptail in console mode
CONFIG_SLANG=y
CONFIG_NEWT=y

#whiptail in graphical mode
# CONFIG_CAIRO=y
# CONFIG_FBWHIPTAIL=y

CONFIG_LINUX_USB=y

#SSH client/server
CONFIG_DROPBEAR=y
#Ethernet driver (Heads only)
CONFIG_LINUX_E1000E=n

CONFIG_LINUX_ARCH=powerpc
CONFIG_LINUX_IMAGE_FILE=zImage
CONFIG_MUSL_TARGET=powerpc64
CONFIG_COREBOOT_TARGET=ppc64
CONFIG_KEXEC_TARGET=powerpc64
CONFIG_QRENCODE_TARGET=powerpc64-elf-linux
CONFIG_UTIL_LINUX_TARGET=powerpc64-elf-linux
CONFIG_POPT_TARGET=powerpc64-elf-linux
CONFIG_CRYPTSETUP_TARGET=powerpc64-elf-linux
CONFIG_SLANG_TARGET=powerpc64-elf-linux
CONFIG_LIBGRYPT_TARGET=powerpc64
CONFIG_LIBKSBA_TARGET=powerpc64
CONFIG_NPTH_TARGET=powerpc64
CONFIG_LIBASSUAN_TARGET=powerpc64
CONFIG_LIBGPG_ERROR_TARGET=powerpc64
CONFIG_GPG2_TARGET=powerpc64
CONFIG_PCIUTILS_TARGET=powerpc64-linux-musl

export CONFIG_TPM=y
export CONFIG_BOOTSCRIPT=/bin/generic-init
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_REMOVE="quiet"
export CONFIG_BOOT_KERNEL_ADD="console=tty0 console=hvc0 rootdelay=3 rootwait panic=10"
export CONFIG_BOOT_DEV="/dev/sda1"
export CONFIG_BOARD_NAME="Talos 2 BE"
